body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  color:#333;
}

button, html, input, select, textarea {
  font-family: Helvetica,Arial,sans-serif;
  letter-spacing: .01em;
}

.title {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.title h1 {
  margin: 0;
  font-weight: 100;
  margin: 0;
  color: #4b4b4b;
  font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: .05em;
}


.content {
  margin: 5px auto;
  text-align: left;
  width: 90%;
  background-color: #ffffff;
}

.form-element{
  margin-top: 15px;
  margin-bottom: 15px;
  /* background-color:#f8f9fa; */
  padding: 10px 3px 10px 3px;
}
.form-element .form-radio{
  margin-bottom: 7px;
}

.form-element input {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-element button {
font-size: 100%;
padding: .5em 1em;
background-color: #0078e7;
color: #fff;
border: transparent;
text-decoration: none;
border-radius: 2px;
}

.small-font {
  font-size: 10px;
}